<div class="container">

    <div class="row justify-content-center">
        <% @game.words.each do |word| %>
            <% if current_user == @game.player_one %>
                <div id="<%= word.id %>" data-word="<%= word.content %>" class="col-md-5ths word-card <%= word.color %>-card <%= word.color %>-to-guess <%= word.color %>-revealed-<%= word.revealed %>">
                    <p><%= word.content %></p>
                </div>
            <% else %>
                <div id="<%= word.id %>" data-word="<%= word.content %>" class="col-md-5ths word-card <%= word.color %>-card">
                    <p><%= word.content %></p>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="clue">
            <% if current_user == @game.player_one %>
                <%= simple_form_for [ @game, @clue ], remote: true do |f| %>
                    <%= f.input :word_clue, label: false, placeholder: "Quel indice ?" %>
                    <%= f.submit id:"form-submit" %>
                <% end %>
            <% end %>
            </div>
        </div>
        <div class="col-6">
            <div class="chat">
                <div id="clues" data-game-id="<%= @game.id %>">
                    <% @game.clues.each do |clue| %>
                        <div class="clue-container" id="clue-<%= clue.id %>">
                            <p><%= clue.word_clue %></p>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>