<div class="container">

    <div class="row justify-content-center">
        <% @game.words.each do |word| %>
            <% if current_user == @game.player_one %>
                <div class="col-md-5ths word-card <%= word.color %>">
                    <p><%= word.content %></p>
                </div>
            <% else %>
                <div class="col-md-5ths word-card">
                    <p><%= word.content %></p>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="clue">
            <%= simple_form_for [ @game, @clue ], remote: true do |f| %>
                <%= f.input :number_clue, label: false, placeholder: "Combien de mots ?" %>
                <%= f.input :word_clue, label: false, placeholder: "Quel indice ?" %>
                <%= f.submit %>
            <% end %>
            </div>
        </div>
        <div class="col-6">
            <div class="chat">
                <div id="clues" data-game-id="<%= @game.id %>">
                    <% @game.clues.each do |clue| %>
                        <div class="clue-container" id="clue-<%= clue.id %>">
                            <p><%= clue.number_clue %> <%= clue.number_clue %> <%= clue.word_clue %></p>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>