<div class="container">

    <div class="row justify-content-center cards-container">
        <% @game.words.each do |word| %>
            <% if current_user == @game.player_one %>
                <div id="<%= word.id %>" data-word="<%= word.content %>" class="col-md-5ths word-card <%= word.color %>-card <%= word.color %>-to-guess <%= word.color %>-revealed-<%= word.revealed %>">
                    <p><%= word.content %></p>
                </div>
            <% else %>
                <div id="<%= word.id %>" data-word="<%= word.content %>" class="col-md-5ths word-card <%= word.color %>-card <%= word.color %>-revealed-<%= word.revealed %>">
                    <p><%= word.content %></p>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="clues-container">
                <div id="clues" class="chat-container" data-game-id="<%= @game.id %>">
                    <% @game.clues.each do |clue| %>
                        <div class="clue-container" id="clue-<%= clue.id %>">
                            <p class="player-one-<%= @game.player_one_id == clue.user_id %>"><%= clue.user.nickname %>: <%= clue.word_clue %></p>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="clue">
                <%= simple_form_for [ @game, @clue ],  remote: true do |f| %>
                    <%= f.input :word_clue, label: false, placeholder: "Tape ton message" %>
                    <%= f.submit id:"form-submit", class: "btn btn-primary send-message", value: "Envoyer"  %>
                <% end %>
            </div>
        </div>
        <div class="col-6">
            <div class="messages-container">
                <div id="messages" class="chat-container" data-game-id="<%= @game.id %>">
                    <% @game.messages.each do |message| %>
                        <div class="message-container" id="message-<%= message.id %>">
                            <p><%= message.content %></p>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
<%= link_to "Créer une nouvelle partie", new_game_path %>